section.slider
	ul.slider__items.owl-carousel.owl-theme
		each slide in slides
			li.slider__item.img-container
				img(src=`${slide}`)
	.slider__nav-wrapper
		.content
			.slider__nav.container-flex.container-flex_sb
